*.log
.DS_Store
Cookbook-Web-Pages
Thellier_GUI_tutorial.synctex.gz

Thellier_GUI_tutorial.aux

Thellier_GUI_tutorial.tex

*.gz

Thellier_GUI_tutorial.log

Thellier_GUI_tutorial.dvi

Thellier_GUI_tutorial.tex
PmagPy_Install_Help.aux
PmagPy_Install_Help.css
PmagPy_Install_Help.dvi
PmagPy.4ct
PmagPy.4tc
PmagPy.aux
PmagPy.css
PmagPy.dvi
PmagPy.idv
PmagPy.lg
PmagPy.log
PmagPy.xref
PmagPy_Install_Help.4ct
PmagPy_Install_Help.4tc
PmagPy_Install_Help.idv
PmagPy_Install_Help.lg
PmagPy_Install_Help.log
PmagPy_Install_Help.tmp
PmagPy_Install_Help.xref

#*#
linux_developer.4ct
linux_developer.4tc
linux_developer.aux
linux_developer.css
linux_developer.dvi
linux_developer.idv
linux_developer.lg
linux_developer.tmp
linux_developer.xref
linux_pip.4ct
linux_pip.4tc
linux_pip.aux
linux_pip.css
linux_pip.dvi
linux_pip.idv
linux_pip.lg
linux_pip.tmp
linux_pip.xref
osx_developer.4ct
osx_developer.4tc
osx_developer.aux
osx_developer.css
osx_developer.dvi
osx_developer.idv
osx_developer.lg
osx_developer.tmp
osx_developer.xref
osx_pip.4ct
osx_pip.4tc
osx_pip.aux
osx_pip.css
osx_pip.dvi
osx_pip.idv
osx_pip.lg
osx_pip.tmp
osx_pip.xref
windows_developer.4ct
windows_developer.4tc
windows_developer.aux
windows_developer.css
windows_developer.dvi
windows_developer.idv
windows_developer.lg
windows_developer.tmp
windows_developer.xref
windows_pip.4ct
windows_pip.4tc
windows_pip.aux
windows_pip.css
windows_pip.dvi
windows_pip.idv
windows_pip.lg
windows_pip.tmp
windows_pip.xref